.logo {
    position: relative;
    font-size:36px;
    display: flex;
    align-items:center;
    font-family: forteMt;
}

.logo::after{
    position: absolute;
    content:'';
    width:30px;
    height:30px;
    left:-40px;
    border-radius: 50%;
    background-color:#ffc617;
}

.logo__one{
    color:#ffc617;
}

.logo__two{
    color:#fff;
}