.order{
    width:100%;
    height:100vh;
}


.container{
    max-width: 1250px;
  width: 100%;
  min-height:100%;
  margin:0 auto;
}

.main_header{
  width:100%;
  height:80px;
  box-shadow: 0px 1px 3.6px 0.4px rgba(0, 0, 0, 0.11);
}

.main_header__container{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.main_header__logo .logo__two{
  color:#000;
}

.menu__list{
  display: flex;
}


.menu__item{
  padding:8px 15px;
  cursor: pointer;
  border-radius: 2px;
}

.menu__item:hover{
  background-color: #f2f2f2;
}

