.redirect_form {
    position: absolute;
    left:50px;
    top:100px;
    max-width:500px;
    padding: 40px;
    margin: 40px;
    z-index: 1000;
    background-color:#fff;
    border-radius: 10px;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
}
.redirect_form__title {
    font-weight: bold;
}

.redirect_form__title, .redirect_form__text {
    margin-bottom:20px;
}

