.take_taxi {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 50px;
  top: 100px;
  max-width: 350px;
  padding: 40px;
  margin: 40px;
  z-index: 1000;
  background-color: #fff;
  border-radius: 3px;
}

.take_taxi__input_wrapper:hover,
.take_taxi__input_wrapper:focus-within {
  border-bottom: 2px solid #1473e6;
}

.take_taxi__input_wrapper {
  border-bottom: 1px solid #eaeaea;
  position: relative;
}

.take_taxi__input {
  width: 100%;
  font-size: 24px;
  color: #323232;
  padding: 9px 0;
  border: none;
  outline: none;
}

.take_taxi__text {
  font-size: 15px;
  color: #747474;
  margin-bottom: 8px;
}


.take_taxi__label_wrapper{
    position: relative;
}

.take_taxi__label_wrapper:not(:last-child){
    margin-bottom: 35px;
}


.take_taxi__label {
  position: relative;
  display: block;
  width: 100%;
}

.path_list {
    z-index: 100;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
}

.path_item {
  cursor: pointer;
  padding: 5px;
}

.path_item:hover {
  background-color: #777;
}
