*{
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

button{
  cursor: pointer;
}

<<<<<<< HEAD
=======
.container{
  max-width: 1250px;
width: 100%;
min-height:100%;
margin:0 auto;
}

>>>>>>> 3f5ff150a38c30c68165115579b1210958696e36
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

<<<<<<< HEAD
=======
input[type=number]::-webkit-inner-spin-button {
  display: none;
}

>>>>>>> 3f5ff150a38c30c68165115579b1210958696e36
@import './style/fonts.css';

